@{
    ViewData["Title"] = "Fiche de jeu";
}
<div class="fiche">
<img src="~/images/imagesCarousel/@ViewBag.Image" alt="4" style="width:100%">
</div>

<div>
    <p>allo</p>
    <p>allo 2</p>
</div>

<div>
    <p>allo</p>
    <p>allo 2</p>
</div>

<div>
    <p>allo</p>
    <p>allo 2</p>
</div>

<div>
    <p>allo</p>
    <p>allo 2</p>
</div>