
@{
    ViewData["Title"] = "Liste de jeux";
}

<div class="row">
  <div class="column">
    <img src="~/images/imagesCarousel/1.jpg" alt="1" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Home" asp-action="FicheDeJeu">Hogwarts Legacy</a>
  </div>
  <div class="column">
    <img src="~/images/imagesCarousel/2.jpg" alt="2" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Borderlands 3</a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="~/images/imagesCarousel/3.jpg" alt="3" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Stardew Valley</a>
  </div>
  <div class="column">
    <img src="~/images/imagesCarousel/4.jpg" alt="4" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Valheim</a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="~/images/imagesCarousel/5.jpg" alt="5" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Atomic Heart</a>
  </div>
  <div class="column">
    <img src="~/images/imagesCarousel/6.jpg" alt="6" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Returnal</a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="~/images/imagesCarousel/7.jpg" alt="7" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Sid Meier's Civilization VI</a>
  </div>
  <div class="column">
    <img src="~/images/imagesCarousel/8.jpg" alt="8" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">NBA2K23</a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="~/images/imagesCarousel/9.jpg" alt="9" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Grand Theft Auto V</a>
  </div>
  <div class="column">
    <img src="~/images/imagesCarousel/10.jpg" alt="10" style="width:100%">
    <a class="nav-link text-dark liste" asp-area="" asp-controller="Connexion" asp-action="Accueil">Resident Evil Village</a>
  </div>
</div>