
TP2/TP2/obj/staticwebassets.pack.sentinel
TP2/TP2/obj/Debug/net6.0/TP2.pdb
TP2/TP2/obj/Debug/net6.0/TP2.dll
TP2/TP2/obj/Debug/net6.0/TP2.csproj.CoreCompileInputs.cache
TP2/TP2/obj/Debug/net6.0/staticwebassets.development.json
TP2/TP2/obj/Debug/net6.0/staticwebassets.build.json
TP2/TP2/obj/Debug/net6.0/refint/TP2.dll
TP2/TP2/obj/Debug/net6.0/ref/TP2.dll
TP2/TP2/bin/Debug/net6.0/TP2.staticwebassets.runtime.json
TP2/TP2/bin/Debug/net6.0/TP2.pdb
TP2/TP2/bin/Debug/net6.0/TP2.dll
TP2/.vs/TP2/v17/.suo
TP2/.vs/TP2/v17/.futdcache.v1
TP2/.vs/TP2/FileContentIndex/ffa31c4a-27d5-4400-a802-247cd61b7d39.vsidx
TP2/.vs/TP2/FileContentIndex/bd95837b-24ff-4da2-a0ff-4f1128b0432c.vsidx
TP2/.vs/TP2/FileContentIndex/86af580a-c701-404e-be71-4c5bc996c7e6.vsidx
TP2/.vs/TP2/FileContentIndex/68f0c944-aeba-456d-ae7a-d902740b3ab9.vsidx
TP2/.vs/TP2/FileContentIndex/6402d2bb-14c6-4061-bc79-e462f0fd231e.vsidx
TP2/.vs/TP2/FileContentIndex/5efa1378-98aa-4be1-b345-b9185bda4a72.vsidx
TP2/.vs/TP2/FileContentIndex/5105213c-a283-49e9-af6c-395dd44e15d0.vsidx
TP2/.vs/TP2/FileContentIndex/43056f0f-2cde-48ab-afe4-769fd174886c.vsidx
TP2/.vs/TP2/FileContentIndex/2ae725f9-89b6-4a80-a0d5-8c37e691a395.vsidx
TP2/.vs/TP2/DesignTimeBuild/.dtbcache.v2
TP2/.vs/ProjectEvaluation/tp2.projects.v2
TP2/.vs/ProjectEvaluation/tp2.metadata.v2
TP2/.vs/ProjectEvaluation/tp2.metadata.v2
TP2/.vs/ProjectEvaluation/tp2.projects.v2
TP2/.vs/TP2/DesignTimeBuild/.dtbcache.v2
TP2/.vs/TP2/FileContentIndex/2ae725f9-89b6-4a80-a0d5-8c37e691a395.vsidx
TP2/.vs/TP2/FileContentIndex/4a8ffd9c-d060-4370-888f-c41eeda5cfde.vsidx
TP2/.vs/TP2/FileContentIndex/5105213c-a283-49e9-af6c-395dd44e15d0.vsidx
TP2/.vs/TP2/FileContentIndex/6402d2bb-14c6-4061-bc79-e462f0fd231e.vsidx
TP2/.vs/TP2/FileContentIndex/68f0c944-aeba-456d-ae7a-d902740b3ab9.vsidx
TP2/.vs/TP2/FileContentIndex/6adeca45-d032-4bee-a3b4-6a4bf0cd728b.vsidx
TP2/.vs/TP2/FileContentIndex/86af580a-c701-404e-be71-4c5bc996c7e6.vsidx
TP2/.vs/TP2/FileContentIndex/962b6207-d9b1-4e22-b40d-4b7c7005796f.vsidx
TP2/.vs/TP2/FileContentIndex/bd95837b-24ff-4da2-a0ff-4f1128b0432c.vsidx
TP2/.vs/TP2/FileContentIndex/d8309fca-0e0d-4135-9e4a-2bbb6041fa68.vsidx
TP2/.vs/TP2/FileContentIndex/f7e61dc0-088c-4036-987d-d49e4c883e8a.vsidx
TP2/.vs/TP2/v17/.futdcache.v1
TP2/.vs/TP2/v17/.suo
TP2/TP2/bin/Debug/net6.0/TP2.dll
TP2/TP2/bin/Debug/net6.0/TP2.pdb
TP2/TP2/bin/Debug/net6.0/TP2.staticwebassets.runtime.json
TP2/TP2/obj/Debug/net6.0/ref/TP2.dll
TP2/TP2/obj/Debug/net6.0/refint/TP2.dll
TP2/TP2/obj/Debug/net6.0/staticwebassets.build.json
TP2/TP2/obj/Debug/net6.0/staticwebassets.development.json
TP2/TP2/obj/Debug/net6.0/TP2.csproj.CoreCompileInputs.cache
TP2/TP2/obj/Debug/net6.0/TP2.dll
TP2/TP2/obj/Debug/net6.0/TP2.pdb
TP2/TP2/obj/staticwebassets.pack.sentinel
