
TP2/TP2/bin/Debug/net6.0/TP2.dll
TP2/TP2/bin/Debug/net6.0/TP2.staticwebassets.runtime.json
TP2/TP2/obj/Debug/net6.0/project.razor.vs.json
TP2/TP2/obj/Debug/net6.0/refint/TP2.dll
TP2/TP2/obj/Debug/net6.0/staticwebassets.development.json
TP2/TP2/obj/Debug/net6.0/TP2.csproj.CoreCompileInputs.cache
TP2/TP2/obj/Debug/net6.0/TP2.GeneratedMSBuildEditorConfig.editorconfig
TP2/TP2/obj/project.nuget.cache
TP2/TP2/obj/TP2.csproj.nuget.g.props
*.vsidx
*.v2
*.v1
TP2/.vs/TP2/v17/.suo
*.cache
*.editorconfig
TP2/ProjetDeTestNUnit/obj/project.assets.json
TP2/ProjetDeTestNUnit/obj/ProjetDeTestNUnit.csproj.nuget.dgspec.json
*.props
*.dll
TP2/TP2/bin/Debug/net6.0/TP2.exe
TP2/TP2/bin/Debug/net6.0/TP2.staticwebassets.runtime.json
TP2/TP2/obj/Debug/net6.0/project.razor.vs.json
*.dll
TP2/TP2/obj/Debug/net6.0/staticwebassets.build.json
TP2/TP2/obj/Debug/net6.0/staticwebassets.development.json
TP2/TP2/obj/Debug/net6.0/TP2.csproj.FileListAbsolute.txt
*.pdb
TP2/TP2/obj/project.assets.json
*.sentinel
TP2/TP2/obj/TP2.csproj.nuget.dgspec.json
TP2/TP2/wwwroot/json/utilisateurs.json
