html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img{
    padding-right: 10px;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#deconnecter{
    border:solid 1px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    border: solid 2px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.liste{
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.fiche {
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
}

.texteFiche {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.texteListe {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 80px;
}

html, body {
    background-image: url('~/images/background.jpg');
    background-size: cover;
}

footer {
    position: fixed;
    bottom: 0px;
}