
@{
    Layout = "~/views/shared/_LayoutConnexion.cshtml";
}

<form asp-controller="Connexion" >
    <p style="color:red">@Html.Raw(ViewBag.message)</p>
    <label for="nomUtilisateur">Nom d'utilisateur</label>
    <input type="text" id="nomUtilisateur" name="nomUtilisateur"/>
    <label for="motDePasse">Mot de passe</label>
    <input type="password" id="motDePasse" name="motDePasse"/>
    <input type="submit" value="Se connecter" asp-action="Connexion"/>
</form>

<p>Pour recuperer un mot de passe perdu, contacter l'administrateur a bobbob44@gmail.com</p>
<p>@Html.ActionLink("Créer un compte", "CreerCompte")</p>
