
@{
    Layout = "~/views/shared/LayoutConnexion.cshtml";
}



<form asp-controller="Connexion" asp-action="Connexion">
    <label for="nomUtilisateur">Nom d'utilisateur</label>
    <input type="text" id="nomUtilisateur" name="nomUtilisateur"/>
    <label for="motDePasse">Mot de passe</label>
    <input type="password" id="motDePasse" name="motDePasse"/>
    <input type="submit" value="Soumettre"/>
</form>