
@{
    Layout = "~/views/shared/_LayoutConnexion.cshtml";
}

<form asp-controller="Connexion" >
    <label for="nomUtilisateur">Nom d'utilisateur</label>
    <input type="text" id="nomUtilisateur" name="nomUtilisateur"/>
    <label for="motDePasse">Mot de passe</label>
    <input type="password" id="motDePasse" name="motDePasse"/>
    <input type="submit" value="Se connecter" asp-action="Connexion"/>
    <input type="submit" value="Créer un compte" asp-action="CreerCompte"/>
</form>