@{
    Layout = "~/views/shared/_LayoutConnexion.cshtml";
}

<form>
    <label for="IdentifiantUnique">Identifiant Unique(nom d'utilisateur)</label>
    <input type="text" id="IdentifiantUnique" name="IdentifiantUnique"/>
    <br/>
    <br/>
    <label for="Pseudo">Pseudonyme</label>
    <input type="text" id="Pseudo" name="Pseudo"/>
    <br/>
    <br/>
    <label for="prenom">Prenom</label>
    <input type="text" id="prenom" name="prenom"/>
    <br/>
    <br/>
    <label for="nom">Nom de famille</label>
    <input type="text" id="nom" name="nom"/>
    <br/>
</form>
